* {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: 'Roboto', sans-serif;

  --clr-white: rgb(255, 255, 255);
  --main-color: rgb(231, 130, 22);
  --clr-dark: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
  font-family: var(--ff-primary);
}

span {
  color: var(--main-color);
}

hr {
  border: none;
  height: 2px;
  width: 25rem;
  margin: 20px auto;
  background: rgb(231, 130, 22);
}


/*==================== HEADER  ===================*/


.nav-list a {
  text-decoration: none;
  color: var(--clr-dark);
  transform: 2ms ease-in;
  font-family: var(--ff-primary);
  font-size: 20px;
  position: relative;
}

.nav-list a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 1.4px;
  background-color: var(--clr-dark);
  transition: all 1.5s ease;
}

.nav-list a:hover:before {
  width: 100%;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
  text-decoration: none;
  color: var(--clr-dark);
  position: relative;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--main-color);
  font-family: var(--ff-primary);
  height: 9vh;
  z-index: 1000;
position: fixed;
 
}

.nav-list {
  list-style: none;
  display: flex;

}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--clr-dark);
  margin: 8px;
}
/*############## animação dos links ##############*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*############## animação dos menu hamburger ##############*/
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



/*==================== Main  ===================*/

.main-content {
  display: flex;
  align-items: center;
  height: 45vh;
  justify-content: center;
}

.primary-text {
  display: flex;
  gap: 0.8rem;
  font-size: 3rem;
}

























/*==================== responsivo  ===================*/
/*############## HEADER ##############*/
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: var(--main-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}







