* {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: 'Roboto', sans-serif;

  --clr-white: rgb(255, 255, 255);
  --main-color: rgb(231, 130, 22);
  --clr-dark: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
  font-family: var(--ff-primary);
}

span {
  color: var(--main-color);
}

hr {
  border: none;
  height: 2px;
  width: 25rem;
  margin: 20px auto;
  background: rgb(231, 130, 22);
}

/*==================== HEADER  ===================*/

.nav-list a {
  text-decoration: none;
  color: var(--clr-dark);
  transform: 2ms ease-in;
  font-family: var(--ff-primary);
  font-size: 20px;
}

.nav-list a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 1.4px;
  background-color: var(--clr-dark);
  transition: all 1.5s ease;
}

.nav-list a:hover:before {
  width: 100%;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
  text-decoration: none;
  color: var(--clr-dark);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--main-color);
  font-family: var(--ff-primary);
  height: 9vh;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--clr-dark);
  margin: 8px;
}
/*############## animação dos links ##############*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*############## animação dos menu hamburger ##############*/
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*==================== MAIN  ===================*/

.intro {
  text-align: center;
  margin-top: 4rem;
}

.intro-text {
  font-size: 2.8rem;
}

.intro-information {
  font-size: 1.9rem;
}

.intro-information2 {
  font-size: 1.3rem;
  margin-top: 2rem;
}

/*==================== CARDS  ===================*/
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card 
{
 position: relative;
 width: 350px;
 height: 190px;
 margin-top: 10rem;
 background: var(--main-color);
 border-radius: 20px;
 box-shadow: 0 35px 80px rgba(0,0,0,0.15);
 transition: 0.5s;
}

.card:hover
{
 height: 450px;
}

.img-box {
 position: absolute;
 left: 50%;
 top: -50px;
 transform: translateX(-50%);
 width: 150px;
 height: 150px;
 background: var(--clr-white);
 border-radius: 20px;
 box-shadow: 0 15px 50px rgba(0,0,0,0.35);
 overflow: hidden;
 transition: 0.5s;
}

.card:hover  .img-box {
 width: 250px;
 height: 250px;
}

.img-box  img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.card .content {
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 overflow: hidden;
} 

.card .content .details {
 padding: 40px;
 text-align: center;
 width: 100%;
 line-height: 2.7rem;
 transition: 0.5s;
 transform: translateY(150px);
}

.card:hover .content .details{
 transform: translateY(0px);
}

.card .content .details h2 {
 font-size: 2rem;
 font-weight: 600;
 color: #000;
 line-height: 1.2rem;
}



.card .content .details h3 {
  font-size: 1.3rem;
  margin-top: 1.8rem;
}

.card .content .details .btn {
 margin-top: 1rem;

}

.card .content .details .btn button {
height: 2.9rem;
width: 10rem;
cursor: pointer;
background: transparent;
border-radius: 20px;
border: 1px solid black;
 
}
























/*==================== responsivo  ===================*/
/*############## HEADER ##############*/
@media (max-width: 999px) {
  html,
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: var(--main-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}
